{% extends 'base.html' %}

{% block title %}
<title>Shopipipipi - Minha Conta</title>
{% endblock %}

{% block content %}
<div class="container">
    {% if not user_logged_in %}
    <div class="row">
        <!-- Formulário Cadastro de Usuário -->
        <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="row">
                <div class="col-12 text-center">
                    CADASTRAR USUÁRIO
                </div>
            </div>
            <div class="row">
                <form method="POST" action="{{ url_for('handle_create_user') }}" enctype="multipart/form-data">
                    
                    <div class="form-group mb-3">
                        <label for="nome">Nome:</label>
                        <input class="form-control w-50" type="text" id="nome" name="nome" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email:</label>
                        <input class="form-control w-50" type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="senha">Senha:</label>
                        <input class="form-control w-50" type="password" id="senha" name="senha" required>
                    </div>
                    <button class="btn btn-primary mb-2" type="submit">Cadastrar</button>
                </form>
            </div>
            {% if message_user_register %}
                {% if message_user_register == 'success' %}
                <div class="row" id="message_user_register">
                    <p class="message text-success fw-bold">Usuário cadastrado com sucesso!</p>
                </div>
                {% else %}
                <div class="row" id="message_user_register">
                    <p class="message text-danger fw-bold">Cadastro não realizado. Email já cadastrado.</p>
                </div>
                {% endif %}
            {% endif %}
        </div>
        <!-- Formulário Login Usuário -->
        <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="row">
                <div class="col-12 text-center">
                    LOGIN USUÁRIO
                </div>
            </div>
            <div class="row">
                <form method="POST" action="{{ url_for('handle_login_user') }}">
                    <div class="form-group mb-3">
                        <label for="email">Email:</label>
                        <input class="form-control w-50" type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="senha">Senha:</label>
                        <input class="form-control w-50" type="password" id="senha" name="senha" required>
                    </div>
                    <button class="btn btn-primary mb-2" type="submit">Acessar</button>
                </form>
            </div>
            {% if message_user_login %}
                {% if message_user_login == 'failure' %}
                    <div class="row" id="message_user_login">
                        <p class="message text-danger fw-bold">Email ou Senha estão incorretos!</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% else %}
    <!-- Informações do Usuário -->
    <div class="row mb-5 border-bottom p-3">
        <div class="col col-md-7 col-lg-8 col-sm-8">
            <h4>Bem vindo {{user_logged_in.nome}}</h4>
        </div>
        <div class="col col-md-3 col-lg-3 col-sm-3 d-flex justify-content-end">
            <form action="{{ url_for('logout_user') }}" method="POST">
                <button class="btn btn-danger fw-bold" type="submit">
                    SAIR
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Items do Carrinho de Compras -->
<section id="carrinho_compras">
    <div class="container mb-3 border-bottom pb-3">
        <div class="row-12 mb-3">
            <span class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <h5>Carrinho de Compras</h5>
            </span>
        </div>
        <!-- Cada produto sendo adicionado aqui -->
        {% if user_logged_in.carrinho_compra %}
            {% for ccompra in user_logged_in.carrinho_compra %}
            <div class="row mb-3 border rounded p-2">
                <div class="row-12">
                    <div class="col">
                        <form action="{{ url_for('remove_product_cart', product_name=ccompra.nome) }}" method='POST'>
                            <button class="btn btn-danger fw-bold btn-sm" type="submit">
                                X
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col col-sm-2 col-md-2 col-lg-2">
                    <span><img src="data:image/png;base64,{{ ccompra.imagem }}" width="100px" class="rounded"></span>
                </div>
                <div class="col col-sm-3 col-md-3 col-lg-3 d-flex justify-content-left align-items-center">
                    <span class="fs-5 text-uppercase fw-bold">
                        {{ ccompra.nome }}
                    </span>
                </div>
                <div class="col offset-3 d-flex flex-column justify-content-around border-start">
                    <div class="row border-bottom">
                        <div class="col border-start">
                            <span class="fs-6 fw-semibold">Valor:</span>
                        </div>
                        <div class="col border-start">
                            <span class="fs-6">R$ {{ ccompra.valor }}</span>
                        </div>
                    </div>
                    <div class="row border-bottom">
                        <div class="col border-start">
                            <span class="fs-6 fw-semibold">Quantidade:</span>
                        </div>
                        <div class="col border-start">
                            <span class="fs-6">1</span>
                        </div>
                    </div>
                    {% if ccompra.desconto and ccompra.desconto|float > 0.0 %}
                    <div class="row border-bottom">
                        <div class="col border-start">
                            <span class="fs-6 fw-semibold">Desconto:</span>
                        </div>
                        <div class="col border-start">
                            <span class="fs-6">{{ ccompra.desconto }}%</span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col border-start">
                            <span class="fs-6 fw-semibold">Total:</span>
                        </div>
                        <div class="col border-start">
                            {% if ccompra.de6conto and ccompra.desconto|float > 0.0 %}
                            <span class="fs-6">R$ {{ ccompra.valor_desconto }}</span>
                            {% else %}
                            <span class="fs-6">R$ {{ ccompra.valor }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col text-center">
                    <form action="{{ url_for( 'purchase_complete' ) }}" method="POST">
                        <button class="btn btn-success fw-bold fs-5" type="submit">FINALIZAR COMPRA</button>
                    </form>
                </div>
            </div>
        {% else %}
        <div class="row mb-3 p-2">
            <span class="fs-4">Seu carrinho está vazio, compre agora mesmo!</span>
        </div>
        {% endif %}
    </div>
</section>

<!-- Items do Histórico de Pedidos -->
<section id="historico_pedidos">
    <div class="container">
        <div class="row-12 mb-3">
            <span class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <h5>Histórico de Pedidos</h5>
            </span>
        </div>
        <!-- Cada produto sendo adicionado aqui -->
        {% if user_logged_in.historico_pedidos %}
            {% for chave, hpedido_lista in user_logged_in.historico_pedidos.items() %}
                <div class="row-12 mb-3 p-2">
                    <span class="fs-5">{{ chave }}</span>
                </div>
                {% for hpedido in hpedido_lista %}
                <div class="row mb-3 border rounded p-2">
                    <div class="col col-sm-2 col-md-2 col-lg-2">
                        <span><img src="data:image/png;base64,{{ hpedido.imagem }}" width="100px" class="rounded"></span>
                    </div>
                    <div class="col col-sm-3 col-md-3 col-lg-3 d-flex justify-content-left align-items-center">
                        <span class="fs-5 text-uppercase fw-bold">
                            {{ hpedido.nome }}
                        </span>
                    </div>
                    <div class="col offset-3 d-flex flex-column justify-content-around border-start">
                        <div class="row border-bottom">
                            <div class="col border-start">
                                <span class="fs-6 fw-semibold">Valor:</span>
                            </div>
                            <div class="col border-start">
                                <span class="fs-6">R$ {{ hpedido.valor }}</span>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col border-start">
                                <span class="fs-6 fw-semibold">Quantidade:</span>
                            </div>
                            <div class="col border-start">
                                <span class="fs-6">1</span>
                            </div>
                        </div>
                        {% if hpedido.desconto and hpedido.desconto|float > 0.0 %}
                        <div class="row border-bottom">
                            <div class="col border-start">
                                <span class="fs-6 fw-semibold">Desconto:</span>
                            </div>
                            <div class="col border-start">
                                <span class="fs-6">{{ hpedido.desconto }}%</span>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col border-start">
                                <span class="fs-6 fw-semibold">Total:</span>
                            </div>
                            <div class="col border-start">
                                {% if hpedido.desconto and hpedido.desconto|float > 0.0 %}
                                <span class="fs-6">R$ {{ hpedido.valor_desconto }}</span>
                                {% else %}
                                <span class="fs-6">R$ {{ hpedido.valor }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        {% else %}
        <div class="row mb-3 p-2">
            <span class="fs-4">Você ainda não possui compras!</span>
        </div>
        {% endif %}
    </div>
</section>
 {% endif %}

<script>
    // Função para ocultar a mensagem após 3 segundos
    document.addEventListener('DOMContentLoaded', function() {
        var messageUserRegisterElement = document.getElementById('message_user_register');
        var messageUserLoginElement = document.getElementById('message_user_login');
        
        if (messageUserRegisterElement){
            setTimeout(function() {
                messageUserRegisterElement.style.display = 'none';
            }, 3000);
        }

        if (messageUserLoginElement){
            setTimeout(function() {
                messageUserLoginElement.style.display = 'none';
            }, 3000);
        }
    });
</script>

{% endblock %}