{% extends 'base.html' %}

{% block head %}
    <title> Shopipipipi </title>
{% endblock %}

{% block content %}
    <section id="product">
        <div class="container">
            <div class="row">
                <!-- Produtos inseridos do BD Redis -->
            </div>
        </div>

    </section>

    <section id="discount">
        <div class="container">
            <div class="row">
                <!-- Produtos inseridos do BD Redis -->
            </div>
        </div>
    </section>
{% endblock %}