{% extends 'base.html' %}

{% block title %}
    <title> Shopipipipi </title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="row">
                    <div class="col-12 text-center">
                        CADASTRAR PRODUTO
                    </div>
                </div>
                <div class="row">
                    <form method="POST" action="{{ url_for('handle_create_product') }}" enctype="multipart/form-data">
                        
                        <div class="form-group mb-3">
                            <label for="nome">Nome do Produto:</label>
                            <input class="form-control w-50" type="text" id="nome" name="nome" required>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-3">
                                    <label for="valor">Valor:</label>
                                    <input class="form-control w-100" type="number" min="0" id="valor" name="valor" required>
                                </div>
                                <div class="col-3">
                                    <label for="quantidade">Quantidade:</label>
                                    <input class="form-control w-100" type="number" min="0" id="quantidade" name="quantidade" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="imagem">Imagem do Produto:</label>
                            <input class="form-control-file" type="file" id="imagem" name="imagem">
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-primary mb-2" type="submit">Cadastrar</button>
                        </div>
                    </form>
                </div>
                {% if message %}
                <div class="row" id="message">
                    <p class="message text-success fw-bold">{{ message }}</p>
                </div>
                {% endif %}
            </div>
            <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="row">
                    <div class="col-12 text-center">
                        CADASTRAR PROMOÇÃO
                    </div>
                </div>
                {% if product_list %}
                <div class="row">
                    <form method="POST" action="{{ url_for('handle_create_discount') }}">
                        <div class="form-group mb-3">
                            <!-- Dropdown com Produtos -->
                            <label for="produto">Escolha um Produto:</label>
                            <select id="produto" name="produto" class="form-control w-75">
                                {% for product in product_list %}
                                    <option value="{{ product.nome }}">{{ product.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-3">
                                    <label for="desconto">Desconto (%):</label>
                                    <input class="form-control w-100" type="number" min="0" max="100" id="desconto" name="desconto" required>
                                </div>
                                <div class="col-4">
                                    <label for="data_expiracao">Expiração em:</label>
                                    <input class="form-control w-100" type="datetime-local" id="data_expiracao" name="data_expiracao" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3" style="height: 2rem"></div>
                        <div class="form-group mb-3 text-center">
                            <button class="btn btn-primary mb-2" type="submit">Cadastrar</button>
                        </div>
                    </form>
                </div>
                {% if message_promo %}
                    {% if message_promo == 'valido' %}
                    <div class="row" id="message_promo">
                        <p class="message text-success fw-bold">Promoção cadastrada com sucesso!</p>
                    </div>
                    {% else %}
                    <div class="row" id="message_promo">
                        <p class="message text-danger fw-bold">Data de expiração inválida!</p>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            {% else %}
            <div class="row flex justify-content-center">
                <div class="col-8 text-center align-middle border rounded bg-warning">
                    <p class="my-3">Para cadastrar promoções é necessário ter produtos.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <section id="product">
        <div class="container">
            <div class="row">

                {% if message_delete %}
                <div class="row" id="message_delete">
                    <p class="message text-danger fw-bold">{{ message_delete }}</p>
                </div>
                {% endif %}

                <!-- Produtos inseridos do BD Redis -->
                 {% if product_list %}
                    {% for product in product_list %}
                    <div class="col col-sm-5 col-md-3 col-lg-2 col-xl-2 col-xxl-3 m-3 border rounded d-flex flex-column">
                        <div class="col-1 offset-10 mb-3 mt-1">
                            <form action="{{ url_for('delete_product', product_name=product.nome ) }}" method="POST">
                                <button class="btn btn-danger fw-bold" type="submit">
                                    X
                                </button>
                            </form>
                        </div>
                        <div class="col text-center">
                            <img src="data:image/png;base64,{{ product.imagem }}" width="150px" class="rounded">
                        </div>
                        <div class="col-12 text-center fw-semibold fs-4">{{ product.nome }}</div>
                        <div class="col-12 text-center">
                            <div class="fs-5">
                                {% if product.desconto and product.desconto|float > 0.0 %}
                                <div>Produto com <span class="text-success fs-6 fw-bold">{{ product.desconto }}%</span> de desconto!</div>
                                <span class="text-decoration-line-through text-danger fw-bold">R$ {{ product.valor }}</span> 
                                <span class="text-success fw-bold">R$ {{ product.valor_desconto }}</span>
                                {% else %}
                                R$ {{ product.valor }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 text-center">Em estoque: {{ product.quantidade }}</div>
                        {% if product.desconto and product.desconto|float > 0.0 %}
                        <div class="mt-2">
                            <div class="text-center">Tempo para acabar a promoção:</div>
                            <p class="text-center fs-5 fw-semibold tempoExpiracao">{{ product.tempo_expiracao }}</p>
                        </div>
                        {% endif %}
                        <form action="{{ url_for('add_to_cart', product_name=product.nome) }}" method="POST">
                            <div class="col-12 text-center align-self-end mt-3">
                                <button class="btn btn-success mb-2" type="submit">
                                    Comprar
                                </button>
                            </div>
                        </form>
                        {% if message_login %}
                            {% if message_login == 'failure' %}
                            <div class="col-12 text-center" id="message_login">
                                <p class="message text-danger fw-bold">Usuário deslogado</p>
                            </div>
                            {% else %}
                            <div class="col-12 text-center" id="message_login">
                                <p class="message text-success fw-bold">Produto adicionado ao carrinho</p>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <section id="discount">
        <div class="container">
            <div class="row">
                <!-- Produtos inseridos do BD Redis -->
                 
            </div>
        </div>
    </section>

    <script>
        // Função para ocultar a mensagem após 3 segundos
        document.addEventListener('DOMContentLoaded', function() {
            var messageElement = document.getElementById('message');
            var messageElementPromo = document.getElementById('message_promo')
            var messageElementDelete = document.getElementById('message_delete')
            var messageElementLogin = document.getElementById('message_login')
            if (messageElement){
                setTimeout(function() {
                    messageElement.style.display = 'none';
                }, 3000);
            }

            if (messageElementPromo){
                setTimeout(function() {
                    messageElementPromo.style.display = 'none';
                }, 3000);
            }

            if (messageElementDelete){
                setTimeout(function() {
                    messageElementDelete.style.display = 'none';
                }, 3000);
            }

            if (messageElementLogin){
                setTimeout(function(){
                    messageElementLogin.style.display = 'none';
                }, 3000);
            }

            document.querySelectorAll('input[type="number"]').forEach(function(input) {
                input.addEventListener('input', function() {
                    let value = parseInt(input.value, 10);
                    if (value < 0) {
                        input.value = 0;
                    }
                });
            });

            var inputDesconto = document.getElementById('desconto')
            inputDesconto.addEventListener('input', function() {
                let value = parseInt(inputDesconto.value, 10);
                if (value > 100) {
                    inputDesconto.value = 100;
                }
            });

            var tempoExpiracaoElements = document.getElementsByClassName('tempoExpiracao');
            for (var i = 0; i < tempoExpiracaoElements.length; i++) {
                (function(i) {
                    var segundos = parseInt(tempoExpiracaoElements[i].textContent, 10);
                    setInterval(function() {
                        if (segundos > 0) {
                            segundos--;
                            // DD:HH:MM:SS
                            var dias = Math.floor(segundos / (3600 * 24));
                            var horas = Math.floor((segundos % (3600 * 24)) / 3600);
                            var minutos = Math.floor((segundos % 3600) / 60);
                            var segundosRestantes = segundos % 60;
                            var formattedTime = 
                                String(dias).padStart(2, '0') + ':' + 
                                String(horas).padStart(2, '0') + ':' + 
                                String(minutos).padStart(2, '0') + ':' + 
                                String(segundosRestantes).padStart(2, '0');

                            tempoExpiracaoElements[i].textContent = formattedTime;
                        } else {
                            tempoExpiracaoElements[i].textContent = "Promoção Expirada";
                        }
                    }, 1000);
                })(i);
            }
        });
    </script>
{% endblock %}